<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<style>
.active{background:pink;}
</style>
</head>

<body>
<%if(pageCount==0){%>
	<div>暂无数据</div>
<%} else {%>
	<ul>
		<%for(var i = 0; i < data.length; i++){%>
			<li><%=data[i].id%> ------ <%=data[i].username%>  -------- <%=data[i].password%>  </li>
		<%}%>
	</ul>

	<div>
		<%if(pageNo > 1){%>
			<a  href="/users?pageNo=<%= parseInt(pageNo)-1%>"+>上一页</a>
		<%}%>
		<%for(var i = 1; i <= pageCount; i++){%>
			<%if(pageNo == i){%>
				<a class="active" href="/users?pageNo=<%=i%>"+><%=i%></a>
			<%} else {%>
				<a href="/users?pageNo=<%=i%>"+><%=i%></a>
			<%}%>
		<%}%>
		<%if(pageNo < pageCount){%>
			<a  href="/users?pageNo=<%= parseInt(pageNo)+1%>"+>下一页</a>
		<%}%>

	</div>
<%}%>


</body>
</html>
